.alert {
  position: absolute;
  margin: 1rem auto;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Appear 0.3s ease-out;
}

.alert p {
  height: 100%;
  padding: 0.5rem 5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
}

.success {
  background-color: #6ac959;
}

.error {
  background-color: #dd5f5f;
}

@keyframes Appear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
