.welcome-screen {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.welcome-message {
  flex: 1;
  height: 100vh;
  background: url("../../assets/welcomeScreen.png"),
    linear-gradient(225deg, #c37eff, #3a0b63);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 300;
  box-sizing: border-box;
  padding: 4.5rem 6rem;
}

.welcome-logo {
  height: 4rem;
  margin-bottom: 2rem;
}

.welcome-message > h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 98.63px;
  margin-bottom: 2rem;
}

.welcome-message > p {
  font-size: 30.9px;
  line-height: 40.17px;
}

.login {
  width: 30%;
  height: 100vh;
  box-sizing: border-box;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 0;
  font-family: "Roboto", sans-serif;
}

.login > img {
  height: 5.5rem;
}

.login > p {
  color: #7e22ce;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.bold {
  font-weight: 600;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 70%;
  margin-bottom: 1.5rem;
}

.form-group > input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1.28px solid #dbdbdb;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.form-options {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.form-options > a {
  color: #085fce;
  text-decoration: none;
}

.form-options input {
  border: 1.28px solid #dbdbdb;
}

.login-button {
  width: 70%;
  height: 3rem;
  background-color: #7e22ce;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .welcome-message > h1 {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .welcome-message {
    padding: 4rem 5rem;
  }

  .login {
    width: 40%;
    padding: 4rem 0;
  }

  .login > p {
    font-size: 2.5rem;
  }

  .login > img {
    height: 4rem;
  }

  .welcome-logo {
    height: 3rem;
    margin-bottom: 2rem;
  }

  .welcome-message > h1 {
    font-size: 3.3rem;
    line-height: 70px;
  }

  .welcome-message > p {
    font-size: 1.5rem;
    line-height: 35px;
  }
}

@media (max-width: 1200px) {
  .welcome-message > h1 {
    font-size: 4rem;
  }
}

@media (max-width: 777px) {
  .welcome-screen {
    flex-direction: column;
    height: 200vh;
  }

  .welcome-message {
    height: 100vh;
  }

  .login {
    width: 100%;
  }
}
