.breadcrumb {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 1rem;
}

.path {
  display: flex;
  color: #999999;
  font-weight: 700;
  font-size: 1.6rem;
}

.bd-icon-grp {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.path > p {
  margin-left: 1rem;
}

.purple {
  color: #7e22ce;
}

.bd-icons {
  font-size: 3.3rem;
  padding: 0.8rem;
  border: 1.5px solid #cccccc;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
}

.orange {
  color: #ff274c;
}

.orange::after {
  content: "Logout";
  top: 0;
  left: 0;
}

@media (max-width: 1200px) {
  .path {
    font-size: 1.5rem;
  }
  .bd-icons {
    font-size: 2.5rem;
    padding: 0.6rem;
  }
}
