.upload-nav {
  height: 100%;
  background-color: #ffffff;
  padding: 4rem 3rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  /* transform: translateX(-15rem); */
  transition: all 0.3s ease-out;
}

.upload-nav img {
  height: 3rem;
  margin-bottom: 1.5rem;
}

.nav-link {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 0.8rem 2rem;
  font-size: 1.25rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  color: #646464;
  transition: all 0.2s linear;
  cursor: pointer;
  user-select: none;
}

.nav-link:hover {
  background-color: #f3e8ff88;
}

.active {
  background-color: #f3e8ff88;
  color: #7e22ce;
  font-weight: 600;
}

.nav-top {
  height: 50%;
  border-bottom: 1.5px solid #cccccc;
  transition: all 0.4s ease-out;
}

.nav-logo {
  cursor: pointer;
}

.nav-help {
  flex: 1;
  border-bottom: 1.5px solid #cccccc;
  display: flex;
  align-items: end;
  padding: 2rem 1rem;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.nav-help div {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  color: #646464;
  font-weight: 600;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 3rem 1rem 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.nav-user > img {
  height: 3rem;
  aspect-ratio: 1/1;
  margin: 0;
  border-radius: 0.5rem;
}

.nav-user h3 {
  color: #3c3c3c;
  margin-bottom: 2px;
  font-size: 1.2rem;
}

.nav-user p {
  color: #3c3c3c;
  font-size: 0.9rem;
}

.collapse-btn {
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translateY(-50%) translateX(50%);
  padding: 0.8rem;
  border-radius: 50%;
  background: #7e22ce;
  border: none;
  display: flex;
  cursor: pointer;
  transform-origin: top left;
}

.collapse-btn > img {
  width: 1rem;
  height: 1rem;
  margin: 0;
  animation: swipe 1.3s ease-out infinite forwards;
}

@keyframes swipe {
  0% {
    opacity: 0;
    transform: translateX(3px);
  }
  100% {
    opacity: 1;
    transform: translateX(-3px);
  }
}
